// Sass variables.
$crimson: #c72135;
$light-blue: #b9d7d7;
$silver: #e8e6e4;
$dark-gray: #272725;

// Sass nesting.
.App {
    height: 100vh;
    width: 100vw;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;

    // Whole pokedex.
    #pokedex {
        height: 90%;
        width: 25%;
        display: flex;
        flex-direction: column;

        // Top red cover.
        #top-cover {
            height: 28%;
            width: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            background: $crimson;
            display: flex;

            // White border on the left.
            #left-top {
                height: 100%;
                width: 20%;
                border-bottom: 0.5rem solid $silver;

                // Outer black border.
                #top-left-outer-border {
                    height: 65%;
                    width: 170%;
                    border-bottom-right-radius: 150px;
                    border-right: 0.5rem solid black;
                    border-bottom: 0.5rem solid black;

                    // Inner black border.
                    #top-left-inner-border {
                        height: 50%;
                        width: 55%;
                        border-bottom-right-radius: 150px;
                        border-right: 0.5rem solid black;
                        border-bottom: 0.5rem solid black;
                    }
                }
            }

            // Middle half-circle.
            #mid-top {
                height: 100%;
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                // White half-circle border.
                #top-half-circle-border {
                    height: 60%;
                    width: 100%;
                    border-top-left-radius: 150px;
                    border-top-right-radius: 150px;
                    border-left: 0.5rem solid $silver;
                    border-top: 0.5rem solid $silver;
                    border-right: 0.5rem solid $silver;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    // Black half-circle border.
                    #top-half-circle {
                        height: 100%;
                        width: 100%;
                        border-top-left-radius: 150px;
                        border-top-right-radius: 150px;
                        background: $light-blue;
                        border-left: 4rem solid $dark-gray;
                        border-top: 4rem solid $dark-gray;
                        border-right: 4rem solid $dark-gray;
                    }
                }
            }

            // Right white border.
            #right-top {
                height: 100%;
                width: 20%;
                border-bottom: 0.5rem solid $silver;
            }
        }

        // Blue screen.
        #screen {
            height: 44%;
            width: 100%;
            background: $light-blue;
            overflow-x: hidden;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            // Form inside the screen.
            form {
                width: 85%;
                margin: 3% 0%;
                display: flex;
                justify-content: space-evenly;

                // Input field.
                input {
                    background: $silver;
                    border: 0.1rem solid $crimson;
                }

                // Button
                button {
                    background: $crimson;
                    color: $silver;
                    border-radius: 5px;
                }
            }
        }

        // Bottom red cover.
        #bot-cover {
            height: 28%;
            width: 100%;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            background: $crimson;
            display: flex;

            // Left white border.
            #left-bot {
                height: 100%;
                width: 20%;
                border-top: 0.5rem solid $silver;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                // Outer black border.
                #bot-left-outer-border {
                    height: 65%;
                    width: 170%;
                    border-top-right-radius: 150px;
                    border-right: 0.5rem solid black;
                    border-top: 0.5rem solid black;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    // Inner black border.
                    #bot-left-inner-border {
                        height: 50%;
                        width: 55%;
                        border-top-right-radius: 150px;
                        border-right: 0.5rem solid black;
                        border-top: 0.5rem solid black;
                    }
                }
            }

            // Middle half-circle.
            #mid-bot {
                height: 100%;
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                // White half-circle border.
                #bot-half-circle-border {
                    height: 60%;
                    width: 100%;
                    border-bottom-left-radius: 150px;
                    border-bottom-right-radius: 150px;
                    border-left: 0.5rem solid $silver;
                    border-bottom: 0.5rem solid $silver;
                    border-right: 0.5rem solid $silver;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    // Black half-circle border.
                    #bot-half-circle {
                        height: 100%;
                        width: 100%;
                        border-bottom-left-radius: 150px;
                        border-bottom-right-radius: 150px;
                        background: $light-blue;
                        border-left: 4rem solid $dark-gray;
                        border-bottom: 4rem solid $dark-gray;
                        border-right: 4rem solid $dark-gray;
                    }
                }
            }

            // Right white border.
            #right-bot {
                height: 100%;
                width: 20%;
                border-top: 0.5rem solid $silver;
            }
        }
    }
}